* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.link-2, .link-1 {
  font-size: 14px;
  color: green;
  border-bottom: 2px dashed green;
  line-height: 20px;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 30px;
}

.link-1 {
  display: inline-block;
  margin: 0 0 20px 0;
}
.link-1:hover {
  color: blue;
  border-bottom: 2px dashed blue;
}

.block {
  font-size: 14px;
  line-height: 20px;
}
.block > p {
  color: orange;
  margin: 0 0 20px 0;
}
.block .block-text {
  font-size: 20px;
  margin: 0 0 20px 0;
}
.block .block-text span {
  color: green;
}
.block.block-big {
  font-size: 30px;
}

.link-2 {
  font-size: 30px;
  color: #fff;
  border-bottom: 2px dashed #fff;
  background-color: #666;
  width: 31.25%;
}